<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/view.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/common-bundle.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/app-bundle.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>
<body>
  <div id="static-content">
    <div class="homepage">
  
      <div class="header header--is-fixed">
        <div class="homepage-container">
          <div class="header__links_logo">
            <ul class="header-nav">
              <li class="header-nav__item">
                <a class="header-nav__link_logo" href="/">futureCEO.io</a>
              </li>
              
            </ul>
          </div>
           
           <div class="header__links">
            <ul class="header-nav">
              <li class="header-nav__item">
                <a class="header-nav__link" href="/courses">Course Series</a>
              </li>
              <li class="header-nav__item">
                <a class="header-nav__link" href="http://discourse.futureceo.io/" target="_blank">Forum</a>
              </li>
              <!--<li class="header-nav__item">-->
              <!--  <a class="header-nav__link" href="#">Blog</a>-->
              <!--</li>-->
              <li class="header-nav__item">
                <a class="header-nav__link" href="/login">Login</a>
              </li>
              <li class="header-nav__item">
                <a class="header-nav__link" href="/logout">Logout</a>
              </li>
              <li class="header-nav__item">
                <a class="button header-nav__button" href="/">Join Now Free!</span></a>
              </li>
            </ul>
          </div>
        
        </div>
      </div>
      <hr>
<hr>
<hr>