<% include ../partials/header %>
    

<div class="container">

<header class="jumbotron">
    <h4></h4>
    <div class="container">
        <h2>RESTful Route</h2>
        <h4>Purpose: List all Courses</h4>
        <h4>Route Name: Index </h4>
        <h4>Path: /courses</h4>
        <h4>CRUD: Read</h4>
        <h4>HTTP Verb: GET</h4>
        <h4>Mongo Collection: courses</h4>
        <h4>Mongoose Path: Course.find()</h4>
        <h4></h4>
        
        <!--<p>View our hand-picked courses from all over the world</p>-->
        <p> <a class="btn btn-primary btn-lg" href="/courses/new">Add New Course</a></p>
    </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-lg-12">
            <h3>Series: Real World MBA</h3>
        </div>
        
        <% courses.forEach(function(course){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= course.image %>">
                    <div class="caption">
                         <h4><%= course.name %></h4>
                    </div>
                    <p>
                        <a href="/courses/<%= course._id %>" class="btn btn-primary">Go To Course</a>
                    </p>
                </div>
               
                
            </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer %>
