<% include ../partials/header_test %>

<div class="container">
    <div class="row">
        <h2 style="text-align: left"></h2>
        
        <div style="margin: 25px auto;">
            <form action="/courses" method="POST">
                <div style="text-align: left"><strong>Purpose #1: </strong>SHOW form to add a new course to Mongo "courses" collection</div>
                <div style="text-align: left"><strong>Path: </strong> /courses/new </div>
                <div style="text-align: left"><strong>HTTP Verb: </strong> GET</div>
                <div style="text-align: left"><strong>Mongo Collection: </strong> N/A</div>
                <div style="text-align: left"><strong>Mongoose Path: </strong> N/A ()</div>
                <div style="text-align: left"><strong>form action= </strong> form action="/courses" method="POST"</div>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="course name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="category" placeholder="category" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="series" placeholder="series">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="course description">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                     <button class="btn btn-lg btn-primary btn-block">Save New Course</button>
                </div>
            </form>
            <div style="text-align:left"><strong>Purpose #2:  </strong> POST form to CREATE course in Mongo "courses" collection </div>
            <div style="text-align: left"><strong>Path: </strong> /courses </div>
            <div style="text-align: left"><strong>HTTP Verb: </strong>POST</div>
            <div style="text-align: left"><strong>Mongo Collection: </strong>courses</div>
            <div style="text-align: left"><strong>Mongoose Path: </strong> Course.create(newCourse, function(err, newlyCreated) { });</div>
            <a href="/courses">Go Back Courses Main Page</a>
        </div>

    </div>

</div>
<% include ../partials/footer %>