
<div class="container">
    <h1>this is the individual course SHOW Page</h1>
    <div class="col-md-9">
          
    </div>
    <h2>RESTful Route</h2>
        <h4>Purpose: Show course details and lessons</h4>
        <h4>Route Name: Show </h4>
        <h4>Path: /courses/:id</h4>
        <h4>CRUD: Read</h4>
        <h4>HTTP Verb: GET</h4>
        <h4>Mongo Collection: courses</h4>
        <h4>Mongoose Path: Course.findbyID()</h4>
        <h4></h4>
        
    <div class="text-right">
                <a class="btn btn-success" href="/courses/<%= course._id %>/lessons/new">Add New Comments</a>
    </div>
                    
                
</div>

