<% include partials/header_test %>



<div class="middle middle-top-margin">
  <section class="middle-container page-section page-section-padding-horizontal">
          
          <div class="middle-elevator">
            <h1 class="middle-title">Real World Business Skills</h1>
            <h1 class="middle-title">Structured Programs and Courses</h1>
            <h1 class="middle-title">Active Participatory Learning Methods</h1>
            <h1 class="middle-title">Minimize Learning Acquisition Time </h1>
            <h1 class="middle-title">Maximize Learning Retention</h1>
                        <!-- <p class="join-hero__description">Structured Learning and Community for future CEOs, CFOs, and CTOs</p> -->
          </div>
          
          
          <div class="middle-form">
            <div class="middle-form-container">
              <div id="middle-form-wrapper" data-cta="Sign Up" data-registration="homepage" class="">
                  <form class="join-form" action="/register" method="post">
                    <h3 class="join-logo">join now register form</h3>
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <p class="join-form-checkbox"><label class="join-form__checkbox-label"></label></p>
                      <button role="button" type="submit" class="button button--block button--important button--large async-button async-button--block async-button--important async-button--large flat"><span class="button__inner"><span class="button__text"><span class="async-button__text">Join Now - It's free!</span></span></span></button>
                      <p class="join-form__join-terms">By joining, you agree to futureCEO's&nbsp;<a role="button" href="https://futureceo.io/terms/" target="_blank" type="button" class="button button--as-link flat"><span class="button__inner"><span class="button__text">Terms of Service</span></span></a>.</p>
                  </form>
                  
              </div>
            </div>
          </div>  
        
        </section>
</div>

<!--<section class="homepage-section homepage-section--border">-->
<div class = "container">
<section class="landing-bottom landing-bottom-border">
        <div class="container-fluid">
          <div class="course-row ">
            <div class="course col-lg-4 col-sm-6">
              <div>
              <i class="fa-icon fa fa-code" aria-hidden="true"></i>
              <h3 class="subtitle">Coding</h3>
              <p class="description">HTML CSS Javascript Nodejs</p>
              <p class="description">Python</p>
              <p class="description">SQL </p>
              </div>
          </div>
            <div class="course col-lg-4 col-sm-6">
              <div>
              <i class="fa-icon fa fa-cloud" aria-hidden="true"></i>
              <h3 class="subtitle">IT Infrastructure</h3>
              <p class="description">Amazon Web Services</p>
              <p class="description">Microsoft Azure</p>
              <p class="description">Linux Operating System</p>
              </div>
          </div>
            <div class="course col-lg-4 col-sm-6">
              <div>
              <i class="fa-icon fa fa-table" aria-hidden="true"></i>
              <h3 class="subtitle">Data</h3>
              <p class="description">Excel Power Pivot</p>
              <p class="description">MYSQL &amp; MongoDB</p>
              <p class="description">Tableau &amp; Microsoft Power BI</p>
              </div>
            </div>
            <div class="course col-lg-4 col-sm-6">
              <div>
             <i class="fa-icon fa fa-money" aria-hidden="true"></i>
              <h3 class="subtitle">Finance &amp; Accounting</h3>
              <p class="description">FreshBooks Cloud Accounting</p>
              <p class="description">Money! Paypal, Square, &amp; Stripe </p>
              <p class="description">10Ks &amp; 10Qs Financial Analysis </p>
              </div>
            </div>
            <div class="course col-lg-4 col-sm-6">
              <div>
              <i class="fa-icon fa fa-users" aria-hidden="true"></i>
              <h3 class="subtitle">Human Resources</h3>
              <p class="description">WorkDay </p>
              <p class="description">ADP Payroll </p>
              <p class="description"> </p>
              </div>
            </div>
            <div class="course col-lg-4 col-sm-6">
              <div>
              <i class="fa-icon fa fa-line-chart" aria-hidden="true"></i>
              <h3 class="subtitle">Sales &amp; Marketing</h3>
              <p class="description">Salesforce </p>
              <p class="description">E-commerce Website </p>
              <p class="description">Google &amp; Facebook Marketing </p>
              </div>
            </div>
            
            
          </div>
        </div>
      </section>
</div>  
  <% include partials/footer %>
