<% include partials/header %>

      <div class="join-hero join-hero--top-margin">
        <section class="join-hero__container page-section page-section--padded-horz">
          
          <div class="join-hero__cta">
            <h1 class="join-hero__title">Real World Business Skills</h1>
            <h1 class="join-hero__title">Structured Programs and Courses</h1>
            <h1 class="join-hero__title">Active Participatory Learning Methods</h1>
            <h1 class="join-hero__title">Minimize Acquisition Time & Maximize Retention</h1>
                        <!-- <p class="join-hero__description">Structured Learning and Community for future CEOs, CFOs, and CTOs</p> -->
          </div>
          
          
          <div class="join-hero__form">
            <div class="join-hero__form-container">
              <div id="join-form-wrapper" data-cta="Sign Up" data-registration="homepage" class="">
                  <form class="join-form" action="/register" method="post">
                    <h3 class= sign-in-logo>join now register form</h3>
                    <input type="text" name="username" placeholder="username"></input>
                    <input type="password" name="password" placeholder="password"></input>
                    <p class="join-form__checkbox"><label class="join-form__checkbox-label"></label></p>
                      <button role="button" type="submit" class="button button--block button--important button--large async-button async-button--block async-button--important async-button--large flat"><span class="button__inner"><span class="button__text"><span class="async-button__text">Join Now - It's free!</span></span></span></button>
                      <p class="join-form__join-terms">By joining, you agree to futureCEO's&nbsp;<a role="button" href="https://futureceo.io/terms/" target="_blank" type="button" class="button button--as-link flat"><span class="button__inner"><span class="button__text">Terms of Service</span></span></a>.</p>
                  </form>
                  
              </div>
            </div>
          </div>  
        
        </section>
      </div>
  
      <section class="homepage-section homepage-section--border">
        <div class="homepage-container">
          <div class="benefit-row">
            <div class="benefit">
              <i class="fa-icon fa fa-code" aria-hidden="true"></i>
              <h3 class="subtitle">Coding</h3>
              <p class="description">HTML CSS Javascript Nodejs</p>
              <p class="description">Linux Operating System</p>
              <p class="description">SQL </p>
          </div>
            <div class="benefit">
              <i class="fa-icon fa fa-cloud" aria-hidden="true"></i>
              <h3 class="subtitle">Cloud Computing</h3>
              <p class="description">Amazon Web Services</p>
              <p class="description">Microsoft Azure</p>
              <p class="description">Google Cloud</p>
          </div>
            <div class="benefit">
              <i class="fa-icon fa fa-table" aria-hidden="true"></i>
              <h3 class="subtitle">Data</h3>
              <p class="description">Excel Power Pivot</p>
              <p class="description">MYSQL & MongoDB</p>
              <p class="description">Tableau & Microsoft Power BI</p>
            </div>
            <div class="benefit">
             <i class="fa-icon fa fa-money" aria-hidden="true"></i>
              <h3 class="subtitle">Finance &amp; Accounting</h3>
              <p class="description">FreshBooks Cloud Accounting</p>
              <p class="description">Money! Paypal, Square, & Stripe </p>
              <p class="description">10Ks & 10Qs Financial Analysis </p>
            </div>
            <div class="benefit">
              <i class="fa-icon fa fa-users" aria-hidden="true"></i>
              <h3 class="subtitle">Human Resources</h3>
              <p class="description">WorkDay </p>
              <p class="description">ADP Payroll </p>
         
            </div>
            <div class="benefit">
              <i class="fa-icon fa fa-line-chart" aria-hidden="true"></i>
              <h3 class="subtitle">Sales & Marketing</h3>
              <p class="description">Salesforce </p>
              <p class="description">E-commerce Website </p>
              <p class="description">Google & Facebook Marketing </p>
              
            </div>
            
            
          </div>
        </div>
      </section>

    </div>
  </div>
  
  <% include partials/footer %>
