<% include partials/header %>

<div class="join-hero join-hero--top-margin">
        <section class="join-hero__container page-section page-section--padded-horz">
        
          
          
          
          <div class="sign-in-hero__form">
            <div class="sign-in-hero__form-container">
                
              <div id="join-form-wrapper" data-cta="Sign Up" data-registration="homepage" class="">
                    <form class="join-form" method="post">
                      <div class="join-form__nested">
                        
                         </div>
                         <h1 class= sign-in-logo>Login Form</h1>
                        <input type="text" required="" name="username" placeholder="username" class="text-input text-input--large">
                        <input type="password" required="" name="password" placeholder="Password" class="text-input text-input--large">
                     

                      <p class="join-form__checkbox"><label class="join-form__checkbox-label"></label></p>
                      <button role="button" type="submit" class="button button--block button--important button--large async-button async-button--block async-button--important async-button--large flat"><span class="button__inner"><span class="button__text"><span class="async-button__text">Sign In</span></span></span></button>
                      
                                          
                  </form>
              </div>
            </div>
          </div>  

  <% include partials/footer %>
