<% include partials/header_test %>
<div class="container">
  <div class="login-note">
      <h1>Please Login </h1>
      <h1> or </h1>
      
  </div>

  <section class="login-join-container">
          
         
          
          
          <div class="middle-form">
            <div class="middle-form-container">
              <div id="middle-form-wrapper" data-cta="Sign Up" data-registration="homepage" class="">
                  <form class="join-form" action="/register" method="post">
                    <h3 class="join-logo">Join Now - It's Free</h3>
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <p class="join-form-checkbox"><label class="join-form__checkbox-label"></label></p>
                      <button role="button" type="submit" class="button button--block button--important button--large async-button async-button--block async-button--important async-button--large flat"><span class="button__inner"><span class="button__text"><span class="async-button__text">Join Now - It's free!</span></span></span></button>
                      <p class="join-form__join-terms">By joining, you agree to futureCEO's&nbsp;<a role="button" href="https://futureceo.io/terms/" target="_blank" type="button" class="button button--as-link flat"><span class="button__inner"><span class="button__text">Terms of Service</span></span></a>.</p>
                  </form>
                  
              </div>
            </div>
          </div>  
        
        </section>
</div>

  <% include partials/footer %>
